<section class="home-page">
    <app-navbar></app-navbar>
<main class="hero">
    <app-floating-cards></app-floating-cards>
    <div class="hero-content">
                 <div class="tag">
                    BASIC CARD GAME
                 </div>
            <h1>WHO<span>T</span>S  
            </h1>
            <p class="hero-text">
                     Think fast. Play smart. Match your cards,
                master the special moves and be the first
                player to clear your hand.
            </p>
            <div class="hero-buttons">
              <a routerLink="/dashboard"  class="play-btn">PLAY NOW</a>
               <a routerLink="/how-to-play"  class="learn-btn">HOW TO PLAY</a>
            </div>
              </div> 
</main>
<app-footer></app-footer>
</section>