<app-navbar></app-navbar>
<main class="hero">
    <div class="hero-content">
                 <div class="tag">
                    Learn how to play Whot, the fun and fast-paced card game!
                 </div>
            <h1>How <span>T</span>o Play
            </h1>
              <a class="back-link" routerLink="/">← Back to home</a>
            <app-tutorial></app-tutorial>
            <p class="hero-text">
                     Think fast. Play smart. Match your cards,
                master the special moves and be the first
                player to clear your hand.
            </p>
            <div class="hero-buttons">
              <a routerLink="/dashboard"  class="play-btn">PLAY NOW</a>
            </div>
          
              </div> 
</main>
  <app-footer></app-footer>